body {
    background-color: white;
    color: #FFFFFF;
}

/* border around top of card */
.topCardBorder {
    border: 1px gray dotted;
    border-radius: 10px;
    background: #512DA8;
}

/* align the h2 to center */
.productCard h2 {
    text-align: center;
    color: #212121;
}

.parent{
    position: relative;
}
.over-img{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}

/* center the image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    margin-bottom: auto;
    width: 50%;
}

/* justifies the p text */
.justifyText {
    text-align: justify;
    text-justify: inter-word;
}

/* background for if available */
.availableBackground {
    width: auto;
    padding: 2px 2px 2px 2px;
    color: yellow;
    background: #512DA8;
}

.bold {
    font-weight: 800;
}

/* the flex container */
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: center;
    flex-direction: row;
}

/* style for the cards */
.productCard {
    flex: 0 0 30%;
    margin: 10px;
    border: lightblue 1px solid;
    background: #673AB7;
    box-shadow: 8px 3px 3px grey;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .productCard {
      flex: 2 100%;
    }
  }

  @media (max-width: 1100px) {
    .productCard {
      flex: 1 46%;
    }
  }

/* get rid of dots on list */
ul {

    margin-top: 0;
    list-style-type: none;
    padding: 0px 0px 0px 20px;

}


footer h6 {
    margin-top: 0;
    margin-bottom: 0;
}

header h3 {
    color: #212121;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

section.change ul.bold {
    margin-bottom: 0;
}